html
    head
        title title
    body
        form(id="thisForm", method="post", action="/createusers")
            label(form="user id") user id
            input(type="user id", id="user id", name="user id")
            label(form="name" ) Name
            input(type="text", id="name", name="name")
            label(form="email") Email
            input(type="email", id="email", name="email")
            label(form="age") Age
            input(type="age", id="age", name="age")
            input(type="submit", value="Add User")
            
            