body  
 h1 Hello

form(action="/users/create", method="post")  
label(form="name") Users

input(type="text", id="users", name="users")

label(form="email") Email

input(type="email", id="email", name="email")

label(form="age") age

input(type="age", id="age", name="age")

label(form="name") Name

input(type="name", id="name", name="name")


input(type="submit", value="Add User")
